<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :question %>
  </div>
  <div>
    <%= f.text_field :question %>
  </div>
  <div>
    <%= f.label :answer %>
  </div>
  <div>
    <%= f.text_field :answer %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
